* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Titillium Web', sans-serif;
}



nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: #FF1901;
    width: 100%;
}

.logo img{
    height: 50px;
    width: auto;
}

.nav-list {
    display: flex;
    justify-content: space-around;
    width: 35%;
    z-index: 2;
}

.nav-list li {
    list-style: none;
}

.nav-list a {
    color: #fff;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: bold;
}

.menu {
   display: none; 
}

.menu div {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 5px;
}

fieldset {
    border: 5px solid #FF1901;
    margin: 40px;
    border-radius: 8px;
    border-left: none;
}

.loading {
    display: flex;
    justify-content: center;
}



legend {
    font-size: xx-large;
    color: #FF1901;
    padding-right: 20px;
}

  main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 20px;
}

.head {
    display: grid;
    justify-content: center;
    margin: 20px;
}

.allBlogs{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    
}

.all {
    margin: 20px;
    width: 510px;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    border-radius: 8px;
}

.all img {
    display: flex;
    justify-content: center;
    width: 500px;
    height: 400px;
    margin: 5px;
    border-radius: 8px;
}

h2 {
    display: flex;
    justify-content: center;
}

a {
    text-decoration: none;
    color: black;
}

.btn {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}


button {
    appearance: none;
    border-radius: 5px;
    border: none;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    line-height: 1;
    text-decoration: none;
    text-transform: uppercase;
    transition: all .5s cubic-bezier(.2,0,.05,1);
    font-family: "Titillium Web";
    font-size: 13px;
    line-height: 15px;
    letter-spacing: .5px;
    font-weight: 400;
    font-weight: 600;
    position: relative;
    padding: 12px 35px 12px 15px;
}

button:hover {
    cursor: pointer;
}

footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: black;
}

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.fot a {
    color: #e2e0e0;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: bold;
}

.fot {
    color: white;
    margin: 20px;
    text-decoration: none;
    list-style: none;
    
}

/* pc */

@media screen and (max-width: 1724px){

    .allBlogs {
        display: flex;
        flex-wrap: wrap;
    }
    
}

/* tablet */

@media screen and (max-width:768px){

    body{
        overflow-x: hidden;
        
    }

    .nav-list {
        display: none;
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: #FF1901;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        transform: translateX(-100%);
        transition: transform 0.3s ease-in;
        z-index: 2;
    } 

    .nav-list li{
        opacity: 0;
    }

    .menu {
        display: block;
    }

    .main {
        width: 100%;
        margin: 0;
    }

    fieldset {
        margin:  30px 0 30px 0;
    }

    .allBlogs {
        width: auto;
        display: flex;
        flex-direction: column;
    }
    .loading {
        display: flex;
        justify-content: center;
    }

    .gif {
        width: 300px;
        height: auto;
    }    
}

/*mobil */
@media screen and (max-width:425px) {

    .main {
        width: 100%;
    }

    fieldset {
        width: 90%;
        margin: 20px;
    }

    .allBlogs {
        width: 90%;
        display: flex;
        flex-direction: column;
    }

    .all {
        width: 90%;
    }
    
    .all img {
        width: 220px;
        height: 220px;
    }

    .all h2{
        font-size: medium;
    }

    .gif {
        width: 100px;
        height: auto;
    }
}    

.nav-active {
    transform: translateX(0%);
    z-index: 2;
}

.noScroll {
    height: 100%;
    overflow: hidden;
}


@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}  

.toggle .menuLine1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .menuLine2 {
    opacity: 0;
}

.toggle .menuLine3 {
    transform: rotate(45deg) translate(-5px, -6px);
}