* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Source Sans Pro', sans-serif;
}

header {
    display: grid;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 5px;
    color: white;
    background-color: #FF1901;
}
.meny {
    text-decoration: none;
    color: white;
}

.logo {
    margin: 20px;
}

.logo, h1 {
    font-size: xx-large;
}

.navbar, ul{
    list-style: none;
    display: flex;
    justify-content: center;
    text-decoration: none;
}

.navbar, li{
    margin: 5px;
    text-decoration: none;
}

.navbar a :hover{
    background-color:black;
    text-decoration: none;
}


  main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #ffffff;
    margin: 20px;
}

.head {
    display: grid;
    justify-content: center;
    margin: 20px;
}

.allBlogs{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
}
.all {
    margin: 20px;
    width: 500px;
}

img{
    width: 400px;
    height: 300px;
  }

h2 {
    display: flex;
    justify-content: center;
}

a {
    text-decoration: none;
    color: black;
}

.btn {
    display: flex;
    justify-content: center;
}

footer {
    background-color: black;
    margin-top: 125px;
}

.fot {
    color: white;
    margin: 20px;
    text-decoration: none;
}