* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Source Sans Pro', sans-serif;
}

header {
    display: grid;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 5px;
    color: white;
    background-color: #FF1901;
}
a {
    text-decoration: none;
    color: white;
}

.logo {
    margin: 20px;
}

.logo, h1 {
    font-size: xx-large;
}

.navbar, ul{
    list-style: none;
    display: flex;
    justify-content: center;
    text-decoration: none;
}

.navbar, li{
    margin: 5px;
    text-decoration: none;
}

.navbar a :hover{
    background-color:white;
    text-decoration: none;
}



label { 
    display: inline-block;
    width: 100px; 
    text-align: right; 
}

form {
    background-color: rgb(128, 127, 126);
    height: 350px;
    width: 700px;
    opacity: 0.8;
}

form > div {
    margin: 8px 0;
}

.cont > input {
    height: 30px;
    margin-top: 20px;
    margin-right: 10px;
    margin-left: 10px;
}

.submit > input {
    display: flex;
    justify-content: center;
    width: 100px;
    cursor: pointer;
}

button:hover {
    cursor: pointer;  
}