* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Titillium Web', sans-serif;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: #FF1901;
}

.logo {
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 22px;
}

.logo a {
    text-decoration: none;
    color: #fff;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 35%;
}

.nav-links li {
    list-style: none;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: bold;
}

.burger {
    display: none;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 5px;
}


.main {
    display: grid;
    justify-content: center;
    margin: 100px;
    margin-top: 100px;
    background-color: #ffffff;
    background-attachment: fixed;  
    background-size: cover;
}

label { 
    display: inline-block;
    width: 100px; 
    text-align: right; 
}

.contact {
    display: grid;
    justify-content: center;
}

h2 {
    display: grid;
    justify-content: center;
}

fieldset {
    margin: 40px;
    border: 5px solid #FF1901;
    border-radius: 5px;
    border-left: none;
    width: 600px;
}

legend {
    font-size: xx-large;
    color: #FF1901;
    padding-right: 20px;
}

.forum{
    display: flex;
    justify-content: center;
}

form {
    display: flex;
    justify-content: center;
    border-radius: 5px;
    height: 550px;
    width: 75%;
    opacity: 0.8;
}

.contact {
    margin-bottom: 10px;
}

form > div {
    margin: 8px 0;
}

.cont > input {
    height: 30px;
    width: 300px;
    margin-top: 20px;
    margin-right: 10px;
    margin-left: 10px;
}

.txt > textarea {
    height: 150px;
    width: 300px;
    margin-top: 20px;
    margin-right: 10px;
    margin-left: 10px;
}

.namesTxt{
    display: flex;
    justify-content: center;
}

.submit {
    display: grid;
    justify-content: center;
}

.submit > input {
    width: 100px;
    height: 25px;
    border-bottom: none;
    border-left: none;
    border-radius: 8px;
}


footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: black;
}

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.fot a {
    color: #e2e0e0;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: bold;
}

.fot {
    color: white;
    margin: 20px;
    text-decoration: none;
    list-style: none;
    
}


/* tablet */

@media screen and (max-width:768px){

    body{
        overflow-x: hidden;
        
    }

    .nav-links {
        display: none;
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: #FF1901;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        transform: translateX(-100%);
        transition: transform 0.3s ease-in;
        z-index: 2;
    } 

    .nav-links li{
        opacity: 0;
    }

    .burger {
        display: block;
    }

    .main {
        width: 100%;
        margin: 0;
    }

    fieldset {
        margin:  30px 0 30px 0;
    }

}

/*mobil */
@media screen and (max-width:425px) {

    .main {
        width: 100%;
        display: grid;
        justify-content: center;
    }

    fieldset {
        width: 90%;
        margin: 20px;
    }

    .forum {
        width: auto;
    }
}
    
.nav-active {
    transform: translateX(0%);
    z-index: 2;
}

.noScroll {
    height: 100%;
    overflow: hidden;
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}  

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}