* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Source Sans Pro', sans-serif;
}

header {
    display: grid;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 5px;
    color: white;
    background-color: #FF1901;
}
a {
    text-decoration: none;
    color: white;
}

.logo {
    margin: 20px;
}

.logo, h1 {
    font-size: xx-large;
}

.navbar, ul{
    list-style: none;
    display: flex;
    justify-content: center;
    text-decoration: none;
}

.navbar, li{
    margin: 5px;
    text-decoration: none;
}

.navbar a :hover{
    background-color:black;
    text-decoration: none;
}

main {
    /* display: grid;
    justify-content: center; */
    margin: 100px;
    margin-top: 100px;
    background-color: #ffffff;
    background-attachment: fixed;  
    background-size: cover;
}

label { 
    display: inline-block;
    width: 100px; 
    text-align: right; 
}

.contact {
    display: grid;
    justify-content: center;
}

h2 {
    display: grid;
    justify-content: center;
}

fieldset {
    margin: 40px;
    border: 5px solid #FF1901;
    border-radius: 5px;
    border-left: none;
}

legend {
    font-size: xx-large;
    color: #FF1901;
}

.forum{
    display: flex;
    justify-content: center;
}

form {
    display: flex;
    justify-content: center;
    border-radius: 5px;
    height: 550px;
    width: 700px;
    opacity: 0.8;
}

.contact {
    margin-bottom: 10px;
    background-color: #38383F;
}

form > div {
    margin: 8px 0;
}

.cont > input {
    height: 30px;
    width: 300px;
    margin-top: 20px;
    margin-right: 10px;
    margin-left: 10px;
}

.txt > textarea {
    height: 150px;
    width: 300px;
    margin-top: 20px;
    margin-right: 10px;
    margin-left: 10px;
}

.submit {
    display: grid;
    justify-content: center;
}

.submit > input {
    display: flex;
    justify-content: center;
    width: 400px;
    cursor: pointer;
}

button:hover {
    cursor: pointer;  
}


footer {
    background-color: black;
    margin-top: 125px;
}

.fot {
    color: white;
    margin: 20px;
    text-decoration: none;
}