* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Source Sans Pro', sans-serif;
}


nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: #FF1901;
    width: 100%;
}

.logo {
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 22px;
}

.logo a {
    text-decoration: none;
    color: #ffffff;
}

.nav-list {
    display: flex;
    justify-content: space-around;
    width: 35%;
    z-index: 2;
}

.nav-list li {
    list-style: none;
}

.nav-list a {
    color: #fff;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: bold;
}

.menu {
   display: none; 
}

.menu div {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 5px;
}

.blog {
    display: flex;
    justify-content: center;
    margin: 40px;
}

fieldset {
    border: 5px solid #FF1901;
    margin: 40px;
    border-radius: 8px;
    border-left: none;
}

legend {
    font-size: xx-large;
    color: #FF1901;
    padding-right: 20px;
}

img {
    width: auto;
    height: 300px;
    margin: 40px;
}

.info {
    display: grid;
    grid-row: 1fr 1fr;
    justify-content: center;
    margin: 30px;
}


.top {
    display: grid;
    justify-content: center;
}

p {
    margin-bottom: 10px;
}

footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: black;
}

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.fot a {
    color: #e2e0e0;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: bold;
}

.fot {
    color: white;
    margin: 20px;
    text-decoration: none;
    list-style: none;
    
}


/* tablet */

@media screen and (max-width:768px){

    body{
        overflow-x: hidden;
        
    }

    .nav-list {
        display: none;
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: #FF1901;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        transform: translateX(-100%);
        transition: transform 0.3s ease-in;
        z-index: 2;
    } 

    .nav-list li{
        opacity: 0;
    }

    .menu {
        display: block;
    }

    .om {
        margin: 0;
    }

    .om p{
        font-size: medium;
        margin: 5px;
    }

    .top img {
        width: 400px;
        height: auto;
        margin: 10px;
    }

}


@media screen and (max-width: 425px) {
    
    fieldset {
        margin: auto;
    }

    .top {
        width: auto;
    }

    .top img {
        margin: auto;
        width: 80%;
        height: auto;
    }
}
    
.nav-active {
    transform: translateX(0%);
    z-index: 2;
}

.noScroll {
    height: 100%;
    overflow: hidden;
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}  

.toggle .menuLine1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .menuLine2 {
    opacity: 0;
}

.toggle .menuLine3 {
    transform: rotate(45deg) translate(-5px, -6px);
}