* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Source Sans Pro', sans-serif;
}

header {
    display: grid;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 5px;
    color: white;
    background-color: #FF1901;
}

a {
    text-decoration: none;
    color: white;
}

.logo {
    margin: 20px;
}

.logo, h1 {
    font-size: xx-large;
}

.navbar, ul{
    list-style: none;
    display: flex;
    justify-content: center;
    text-decoration: none;
}

.navbar, li{
    margin: 5px;
    text-decoration: none;
}

.navbar a :hover{
    background-color: black;
    text-decoration: none;
}

.blog {
    display: flex;
    justify-content: center;
    margin: 40px;
}

img {
    width: auto;
    height: 300px;
    margin: 40px;
}

.info {
    display: grid;
    grid-row: 1fr 1fr;
    justify-content: center;
    margin-bottom: 30px;
    margin-top: 30px;
}


.top {
    display: grid;
    justify-content: center;
}

h2 {
    display: grid;
    margin-bottom: 20px;
    justify-content: center;
}

footer {
    background-color: black;
}

.fot {
    color: white;
    margin: 20px;
    text-decoration: none;
}

