* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Titillium Web', sans-serif;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: #FF1901;
    width: 100%;
}

.logo {
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 22px;
}

.logo a {
    text-decoration: none;
    color: #ffffff;
}

.nav-list {
    display: flex;
    justify-content: space-around;
    width: 35%;
    z-index: 2;
}

.nav-list li {
    list-style: none;
}

.nav-list a {
    color: #fff;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: bold;
}

.menu {
   display: none; 
}

.menu div {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 5px;
}




main {
    display: block;
    justify-content: center;
    margin: 20px;
    margin-top: 20px;
    background-color: #ffffff;
    background-attachment: fixed;  
    background-size: cover;
}

.loading {
    display: flex;
    justify-content: center;
}

.gif {
    width: 300px;
    height: auto;
}

.headline {
    display: grid;
    justify-content: center;
    margin: 20px;
}

h3 {
    display: grid;
    justify-content: center;
    margin: 5px 0 5px 0;
    font-weight: normal;
}

.karusel {
    width: 1306px;
    height: 500px;
    margin: auto;
    overflow: hidden;
    position: relative;

}

.blog {
    display: flex;
    width: auto;
    height: 400px;
}

#prevBtn {
    height: 40px;
    position: absolute;
    top: 30%;
    left: 0;
    font-size: 30px;
    cursor: pointer;
    z-index: 1;
}

#nextBtn {
    height: 40px;
    position: absolute;
    top: 30%;
    right: 0;
    font-size: 30px;
    cursor: pointer;
    z-index: 1;
}


.arrow {
    height: 400px;
    background-color: #0000005d;
} 

.slides img {
    border-radius: 5px;
    width: 300px;
    height: 300px;
    margin: 5px;
} 

.slides {
    border: 3px solid #FF1901;
    border-radius: 8px;
    margin: 5px;
    height: 350px;
}

.slides a {
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: black;
}

fieldset {
    border: 5px solid #FF1901;
    margin: 40px;
    border-radius: 8px;
    border-left: none;
}

legend {
    font-size: xx-large;
    color: #FF1901;
    padding-right: 20px;
}

.podium {
    margin: 40px;
    display: grid;
    justify-content: center;
    width: 100%;
}

.podium-box {
    width: 100%;
    height: auto;
    margin: 10px;
    display: flex;
}

.pod-1, .pod-2, .pod-3  {
    height: 200px;
    width: auto;
}

.second {
    margin: 15px;
    height: 280px;
    width: 250px;
    background: linear-gradient(to top, #38383F 55%, white 45%);
    color: #ffffff;
    text-align: center;
}

.first {
    margin: 15px;
    height: 280px;
    width: 250px;
    background: linear-gradient(to top, #38383F 75%, white 25%);
    color: #ffffff;
    text-align: center;
}

.third {
    margin: 15px;
    height: 280px;
    width: 250px;
    background: linear-gradient(to top, #38383F 50%, white 50%);
    color: #ffffff;
    text-align: center;
}

.podium-bot {
    margin-bottom: 20px;
}


.rest {
    display: grid;
    justify-content: center;
    margin-top: 10px;
    background-color: #38383F;
}

.rest, li{
    margin-top: 10px;
}

.point {
    background-color: gray;
    color: black;
    height: 30px;
    width: 100%;
    display: grid;
    justify-content: center;
}

.point, p {
    margin: 5px;
}

footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: black;
}

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.fot a {
    color: #e2e0e0;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: bold;
}

.fot {
    color: white;
    margin: 20px;
    text-decoration: none;
    list-style: none;
}


/* pc */

@media screen and (max-width: 1024px){

    .karusel {
        width: 980px;
    }

    .podium {
        display: grid;
        justify-content: center;
    }
    
}

/* tablet */

@media screen and (max-width:768px){

    body{
        overflow-x: hidden;
    }

    .nav-list {
        display: none;
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: #FF1901;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        transform: translateX(-100%);
        transition: transform 0.3s ease-in;
        z-index: 2;
    } 

    .nav-list li{
        opacity: 0;
    }

    .menu {
        display: block;
    }

    .karusel {
        width: 652px;
    }

    .podium {
        width: 600px;
    }

    .pod-1, .pod-2, .pod-3  {
        height: 100px;
        width: auto;
    }
    
    .second {
        margin: 15px;
        height: 200px;
        width: 200px;
        background: linear-gradient(to top, #38383F 55%, white 45%);
        color: #ffffff;
        text-align: center;
    }
    
    .first {
        margin: 15px;
        height: 200px;
        width: 200px;
        background: linear-gradient(to top, #38383F 75%, white 25%);
        color: #ffffff;
        text-align: center;
    }
    
    .third {
        margin: 15px;
        height: 200px;
        width: 200px;
        background: linear-gradient(to top, #38383F 50%, white 50%);
        color: #ffffff;
        text-align: center;
    }

    .rest {
        width: 655px;
        margin-left: 25px;
    }

}
    
.nav-active {
    transform: translateX(0%);
    z-index: 2;
}

.noScroll {
    height: 100%;
    overflow: hidden;
}


/*mobil */
@media screen and (max-width:425px) {
    .karusel {
        width: 326px;
    }

    .podium {
        width: 250px;
    }

    .pod-1, .pod-2, .pod-3  {
        height: 80px;
        width: auto;
    }
    
    .second {
        margin: 5px;
        height: 160px;
        width: 100px;
        background: linear-gradient(to top, #38383F 55%, white 45%);
        color: #ffffff;
        text-align: center;
    }
    
    .first {
        margin: 5px;
        height: 160px;
        width: 100px;
        background: linear-gradient(to top, #38383F 75%, white 25%);
        color: #ffffff;
        text-align: center;
    }
    
    .third {
        margin: 5px;
        height: 160px;
        width: 100px;
        background: linear-gradient(to top, #38383F 50%, white 50%);
        color: #ffffff;
        text-align: center;
    }

    .rest {
        width: 265px;
        margin-left: 40px;
    }


}
/*liten mobil */
@media screen and (max-width:320px) {
    .karusel {
        width: 276px;
    }

    .slides img {
        border-radius: 5px;
        width: 250px;
        height: 250px;
        margin: 5px;
    } 

    fieldset{
        width: 210px;
        margin: 0;
    }

    .podium {
        width: 200px;
    }

    .pod-1, .pod-2, .pod-3  {
        height: 60px;
        width: auto;
    }
    
    .second {
        
        height: 160px;
        width: 80px;
        background: linear-gradient(to top, #38383F 55%, white 45%);
        color: #ffffff;
        text-align: center;
    }
    
    .first {
        
        height: 160px;
        width: 80px;
        background: linear-gradient(to top, #38383F 75%, white 25%);
        color: #ffffff;
        text-align: center;
    }
    
    .third {
        
        height: 160px;
        width: 80px;
        background: linear-gradient(to top, #38383F 50%, white 50%);
        color: #ffffff;
        text-align: center;
    }

    .rest {
        width: 265px;
        margin-left: 10px;
    }


}



@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}  

.toggle .menuLine1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .menuLine2 {
    opacity: 0;
}

.toggle .menuLine3 {
    transform: rotate(45deg) translate(-5px, -6px);
}