* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Source Sans Pro', sans-serif;
}

header {
    display: grid;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 5px;
    color: white;
    background-color: #FF1901;
}
a {
    text-decoration: none;
    color: white;
}

.logo {
    margin: 20px;
}

.logo, h1 {
    font-size: xx-large;
}

.navbar, ul{
    list-style: none;
    display: flex;
    justify-content: center;
    text-decoration: none;
}

.navbar, li{
    margin: 5px;
    color: #FF1901;
    text-decoration: none;
}

.navbar a :hover{
    background-color:white;
    text-decoration: none;
}




main {
    display: block;
    justify-content: center;
    margin: 20px;
    margin-top: 20px;
    background-color: #ffffff;
    background-attachment: fixed;  
    background-size: cover;
}

.headline {
    display: grid;
    justify-content: center;
    margin: 20px;
}

.blog, img{
    width: 100%;
}

.blog {
    display: flex;
    margin: 40px;
    overflow: scroll;
    position: relative;
}

.slides {
    position: relative;
}

.slides, img {
    width: 200px;
    height: 200px;
}

.podium {
    margin: 40px;
    display: grid;
    justify-content: center;
    
}

.podium-box {
    margin: 10px;
    display: flex;
}

.pod-1, .pod-2, .pod-3  {
    height: 100px;
    width: auto;
}

.second {
    margin: 15px;
    height: 150px;
    width: 150px;
    background: linear-gradient(to top, black 55%, white 45%);
    color: #ffffff;
    text-align: center;
}

.first {
    margin: 15px;
    height: 150px;
    width: 150px;
    background: linear-gradient(to top, black 75%, white 25%);
    color: #ffffff;
    text-align: center;
}

.third {
    margin: 15px;
    height: 150px;
    width: 150px;
    background: linear-gradient(to top, black 50%, white 50%);
    color: #ffffff;
    text-align: center;
}

.podium-bot {
    margin-bottom: 20px;
}


.rest {
    display: grid;
    justify-content: center;
    margin-top: 10px;
    
}

.rest, li{
    margin-top: 10px;
    color: black;
}

.point {
    background-color: gray;
    height: 30px;
    width: 100%;
    display: grid;
    justify-content: center;
}

.point, p {
    margin: 5px;
}

footer {
    background-color: black;
}

.fot {
    color: white;
    margin: 20px;
    text-decoration: none;
}